*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {

    min-height: 100vh;

    position: relative;

    isolation: isolate;

}

body::before {

    content: "";

    position: fixed;

    inset: 0;

    z-index: -1;

    background-image: url("../../images/portfolio/forest.webp");

    background-repeat: repeat;

    background-size: 100%;

    opacity: .075;

    pointer-events: none;

}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

button,
input,
textarea,
select {
    font: inherit;
}